a{
    color:white;
}
#listaMensagens>a{
    color:black;
}
nav{
    background-color: rgb(75, 114, 172);
}
h2{
    color:white;
}
.formOculto{
    display: none;
    padding: 40px;
    margin: 40px;
    background-color: rgb(75, 114, 172);
    height: 750px;
    width: 300px;
}
#inicial{
    background-image: url("../imagens/mailbox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#principal{
    background-image: url("../imagens/background-papeis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.buttonBranco{
    background-color:white;
    color: rgb(75, 114, 172);
}
.buttonAzul{
    background-color:rgb(75, 114, 172);
    color: white;
}
.scroll{
    position: relative; 
    height: 500px;
    overflow-y: scroll;
}
#corpoMensagens{
    background-color:rgb(75, 114, 172);
    color: white;
    border: none;
    padding: 20px;
    padding-left: 50px;
}
#listaContas{
    width: 200px; 
}

