a{
    color:white;
}
nav{
    background-color: rgb(75, 114, 172);
}
h2{
    color:white;
}
.formOculto{
    display: none;
    padding: 40px;
    margin: 40px;
    background-color: rgb(75, 114, 172);
    height: 680px;
    width: 300px;
}
#inicial{
    background-image: url("imagens/mailbox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#principal{
    background-image: url("imagens/background-papeis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    background-color:white;
    color: rgb(75, 114, 172);
}
#semCadastro{
    background-color:rgb(75, 114, 172);
    color: white;
    border: none;
}
#principal>a{
    height: 5px;
    width: 10px;
}
.scroll{
    position: relative; 
    overflow-y: scroll;
}
#corpoMensagens{
    background-color:rgb(75, 114, 172);
    color: white;
    border: none;
}

